* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

#cy {
	width: 100vw;
	height: 100vh;
	visibility: hidden;
}

.debug {
	position: fixed;
	padding: 10px;
}

#node_label_input{
	min-width: 187px;
}

#node_info{
	display: none;
}

#add_new_type{
	margin-left: 10px;
}

.centered {
	position: fixed;
	left: 0%;
	bottom: 50%;
  }

.hide{
	display: none;
}

#file_button {
	margin-top: 12px;
	margin-bottom: 15px;
}

#ico {
	margin: 0;
}

.message {
	display: none;
}

#select_floor {
	transform: translateY(-50%);
}

#node_info {
	display: none;
}

#matron {
	cursor: pointer;
}

.popup_content {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
}

#distance_result_div {
	display: none;
}

#ts {
	margin: auto;
	width: 100%;
	padding: 10px;
}

#dist_result {
	text-align:center;
}

.node_input_text {
	width: 100%;
}

#delete_map {
	float: right;	
}

.delete_map_icon {
	color: red;
}

.ban {
	color: red;
}

#no_delete {
	float: right;
}

#version_select{
	width: 190px;
	margin-top: 6px;
	margin-left: 15px;
	/*margin-right: 15px;*/
	height: 100%;
	display: none;
/*	padding: 10px;*/
	padding-left: 10px;
	padding-right: 10px;
}

#version_list {
	max-height: 420px;
}

#tool_select {
	width: 135px;
	margin-top: 6px;
	margin-left: 15px;
/*	margin-right: 15px;*/
	height: 100%;
	margin-bottom: 0px;
/*	padding: 10px;*/
	padding-left: 10px;
	padding-right: 10px;
	display: none;
}

#rescale_menu {
/*	position: fixed;*/
	right: 0;
	margin-top: 6px;
	height: 100%;
	margin-right: 10px;
	visibility: hidden;
}

#rescale_input {
	width: 142px;
	display: none;
}

#instructions {
	transform: translateY(9px);
	margin-right: 10px;
}

#tool_list {
	max-height: 420px;	
}

/*#wrench {
	float: right;
}*/

.text .remove_map_btn {
	display: none;
}

#new_blue_print{
/*	margin: auto;*/
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;
}

#blueprint_scale_input {
	width: 250px;
}

#node_info {
	margin: 0;
}

#node_info_card {
	margin: 0;
}

#node_info_close {
	float: right;
	cursor: pointer;
	position: absolute;
/*	margin-top: -140px;
	margin-right: -2px;*/
	transform: translate(255px, 13px);
	top: 0;
}

#picker {
	margin-bottom: 10px;
}

.dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: black;
	display: inline-block;
	margin-right: 10px;
}

#progress_bar {
	position: absolute;
	width: 100%;
	display: none;
}

#top_menu {
	padding: 0;
}

#debugtext {
	font-size: 10px;
	position: fixed;
	z-index: 100000;
	display: none;
}

#blueprint_name_input{
	width: 250px;
}

.modify_map_label {
	min-width: 150px; 
}

#blueprint_modal {
	max-width: 462px !important;
}