* {
	margin: 0;
	padding: 0;
}

#cy {
	width: 100vw;
	height: 100vh;
	display: block;
}

.debug {
	position: fixed;
	padding: 10px;
}

#node_label_input{
	width: 120px;
}

#node_info{
	display: none;
}