* {
	margin: 0;
	padding: 0;
}

#cy {
	width: 80vw;
	height: 80vh;
	display: block;
}

.debug {
	position: fixed;
	padding: 10px;
}

#node_label_input{
	width: 120px;
}

#node_info{
	display: none;
}

#add_new_type{
	margin-left: 10px;
}

.centered {
	position: fixed;
	left: 0%;
	bottom: 50%;
  }