<!DOCTYPE html>
<html>
<head>
    <title>Graph Editor</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/js/lib/cytoscape.umd.js"></script>
    <script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.js"></script>
    <script src="static/js/lib/cytoscape-popper.js"></script>
    <script src="static/js/lib/cytoscape-canvas.js"></script>
</head>
<body>
<div id="cy"></div>
<script src="static/js/index.js"></script>
</body>
</html>
